.btn-comp{

    background-color: #472d7c;
  
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-right: 5px;
    
  
  }
  .btnn i{

   
      text-align: center;
      line-height: 55px;
      color:  #444;
      font-size: 1.1rem;

  }

  .btn-comp a{
  
    text-decoration: none;
    padding: 1px 2px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: aliceblue;
    transform: scale(0.96);
    font-size: 18px;
  
  }
  
  .data-section{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  .Top-data{
  
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5 rem;
    color: #472d7c;
  
  
  
  
  }
  .head-data{
  
    text-transform: uppercase;
    font-size: 2rem;
  
  }
  .All-data{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .section-image{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .container{
  
    max-width: 120rem;
    margin: 0 auto;
  
  }
  .grid{
    display: grid;
    gap: 9rem;
  }
  .grid-two-column{
    grid-template-columns: repeat(2,1fr);
  
  }
  .grid-three-column{
    grid-template-columns: repeat(3,1fr);
    
  }
  .grid-four-column{
    grid-template-columns: 1fr 1.2fr 0.5fr 0.8f;
    
  }
  .hero-img{
    max-width: 80%;
  
  }
  