.containerr {

  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
   /* overflow: hidden;   */
  
  
} 
.signin-content{
   
    position:relative;
    display: flex;
    margin: auto; 
    height: 500px; 
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightblue;
    align-content: center;
    justify-content: center;   
  
    width: 800px;
    margin-top: 0px;
    padding-top: 130px;

    background-color: white;

}
.signin-form{
    height: 600px;
    width:  400px;
    margin-top: -10px;
    
    
    
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.form-title{
    font-size:2.0rem ;
    color: #444;
    margin-bottom: 10px;
}

.form-group{

    width: 350px;
    height: 50px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;


}
.form-grou{

    width: 350px;
    height: 100px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;


}
.form-group i{
    text-align: center;
    line-height: 55px;
    color:  #444;
    font-size: 1.1rem;
}
.form-grou i{
    text-align: center;
    line-height: 55px;
    color:  #444;
    font-size: 1.1rem;
}

.form-group input{

    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    
}
.form-grou textarea{

    background: none;
    outline: none;
    border: none;
    padding-top: 19px;

   
    
    font-size: 1.1rem;
    color: #444;
}

.form-group input::placeholder{

    color: #aaa;
}

.form-button input{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #658864;
    color: #fff;
    margin: 20px 0;
    transition: 0.5s;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;

}

.signin-image {
    margin-top: -50px;
    margin-right: -30px;
    /* width: 150;
    height: 200; */


   
}
.title-page{
    font-size:1.6rem ;
    color: #444;
    font-weight: bold;
    
 
}
.signin-image-link{

    margin-right: -60px;
}

#checkpoint{
    margin-right: 50px;
}
.sell{

    margin-bottom: 10px;
}
