.containerr {

  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
   /* overflow: hidden;   */
  
  
} 
.signin-content{
   
    position:relative;
    display: flex;
    margin: auto; 
    height: 590px; 
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightblue;
    align-content: center;
    justify-content: center;   
  
    width: 1000px;
    margin-top: 0px;
    padding-top: 15px;

}
.signin-form{
    height: 600px;
    width:  600px;
    margin-top: -10px;
    
    
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.form-title{
    font-size:2.0rem ;
    color: #444;
    margin-bottom: 10px;
}

.form-group{

    max-width: 380px;
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;


}
.form-group i{
    text-align: center;
    line-height: 55px;
    color:  #444;
    font-size: 1.1rem;
}

.form-group input{

    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.form-group input::placeholder{

    color: #aaa;
}

.form-button input{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #001529;
    color: #fff;
    margin: 20px 0;
    transition: 0.5s;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;

}

.signin-image {
    margin-top: 35px;
    width: 200;
    height: 200;


   
}
.title-page{
    font-size:1.6rem ;
    color: #444;
    font-weight: bold;
    
 
}